:root {
  --color-primary: #4A708B;
  --color-primary-light: #6E9AB3;
  --color-primary-dark: #2F4F4F;

  --color-bg-header-1: rgba(10, 13, 16, 0.8);
  --color-bg-header-2: rgba(19, 24, 28, 0.8);

  --color-accent: #5E8B7E;
  --color-accent-light: #81A99C;
  --color-accent-dark: #3F6A5F;

  --color-bg: #0B0C0E;
  --color-surface: #16191C;
  --color-border: #2A2E32;

  --color-text: #E0E0E0;
  --color-text-secondary: #8C9297;

  --color-success: #3C9A5F;
  --color-warning: #B5913E;
  --color-error: #C94C4C;
  --color-info: #3A7CA5;
}
