.main-header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, var(--color-bg-header-1), var(--color-bg-header-2)), url(../assets/images/kettlebell-background.jpg);
    background-size: cover;
    background-position: bottom;
    color: var(--color-primary);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%)
}