.main-header {
  height: 95vh;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(10, 13, 16, 0.85),
      rgba(19, 24, 28, 0.85)
    ),
    url(../assets/images/hero.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  color: var(--color-primary);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.main-header__logo-box {
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.main-header__logo {
  height: 9.5rem;
}

.main-header__hero-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-title {
  color: var(--color-white);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.hero-title--main {
  display: block;
  font-size: 5.5rem;
  font-weight: 400;
  letter-spacing: 2.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hero-title--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.4rem;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hero-title__btn {
  animation: moveInBottom 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
