:root {
  /* Font Weights */
  /* --font-weight-extralight: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 900; */

  /* Box Shadows */
  --shadow-sm: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.25);
  --shadow-md: 0 0.5rem 1rem -0.2rem rgba(0, 0, 0, 0.25);
  --shadow-lg: 0 1rem 2rem -0.4rem rgba(0, 0, 0, 0.25);

  --shadow-sm-light: 0 0.1rem 0.2rem 0 rgba(255, 255, 255, 0.25);
  --shadow-md-light: 0 0.5rem 1rem -0.1rem rgba(255, 255, 255, 0.25);
  --shadow-lg-light: 0 1rem 2rem -0.2rem rgba(255, 255, 255, 0.25);
}
