@use "./variables" as *;

@mixin btn-link(
  $color: $color-primary,
  $font-size: 1.4rem,
  $underline-height: 2px,
  $padding-bottom: 2px,
  $hover-color: null,
  $underline-color: null
) {
  font-size: $font-size;
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding-bottom: $padding-bottom;
  color: $color;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: $underline-height;
    background-color: if($underline-color, $underline-color, currentColor);
    transition: width 0.4s ease;
  }

  &:hover {
    @if $hover-color {
      color: $hover-color;
    }

    &::after {
      width: 100%;
    }
  }
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin section-base($padding-y: 20rem, $padding-x: 20rem, $margin-top: -10vh) {
  padding: $padding-y $padding-x;
  margin-top: $margin-top;
}

// BOOTSTRAP MEDIA QUERIES

// XX-Small  xxs < 420px              xxs (mobile)
// X-Small	xs	≥ 421px               xs (mobile)
// Small	sm	≥576px                  sm (mobile)
// Medium	md	≥768px                  md (tablet / portrait)
// Large	lg	≥992px                  lg (tablet / landscape)
// Extra large	xl	≥1200px           xl (desktop / regular)
// Extra extra large	xxl	≥1400px     xxl (desktop / large screens)
// Extra extra extra large	xxl	≥2000px     xxxl (desktop / very large screens)

@mixin media($breakpoint) {
  @if $breakpoint == xxxl {
    @media (min-width: 125em) {
      // 2001px / 16
      @content;
    }
  }

  @if $breakpoint == xxl {
    @media (min-width: 87.56em) {
      // 1401px / 16
      @content;
    }
  }

  @if $breakpoint == xl {
    @media (max-width: 87.5em) {
      // 1400px / 16
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (max-width: 75em) {
      // 1200px / 16
      @content;
    }
  }

  @if $breakpoint == md {
    @media (max-width: 62em) {
      // 992px / 16
      @content;
    }
  }

  @if $breakpoint == sm {
    @media (max-width: 48em) {
      // 768px / 16
      @content;
    }
  }

  @if $breakpoint == xs {
    @media (max-width: 36em) {
      // 576px / 16
      @content;
    }
  }

  @if $breakpoint == xxs {
    @media (max-width: 26.5em) {
      // 421px / 16
      @content;
    }
  }
}
