@use "../abstracts/" as *;

.header {
  height: 85vh;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(10, 13, 16, 0.85),
      rgba(19, 24, 28, 0.85)
    ),
    url(../assets/images/hero-small.avif);
  background-size: cover;
  background-position: bottom;
  // position: relative;
  color: $color-primary;
  z-index: 10;

  @supports (
    clip-path: polygon(0 0) or
      (
        -webkit-clip-path: polygon(0 0),
      )
  ) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    height: 95vh;
  }

  @media (min-resolution: 192dpi) and (min-width: 48em),
    (-webkit-min-device-pixel-ration: 2) and (min-width: 48em),
    (min-width: 125em) {
    background-image:
      linear-gradient(
        to right bottom,
        rgba(10, 13, 16, 0.85),
        rgba(19, 24, 28, 0.85)
      ),
      url(../assets/images/hero.avif);
  }

  @include media(md) {
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 9.5rem;
  }

  &__heading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 6rem;
  }
}
