@use "../abstracts/" as *;

.header {
  height: 95vh;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(10, 13, 16, 0.85),
      rgba(19, 24, 28, 0.85)
    ),
    url(../assets/images/hero.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  color: $color-primary;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

  &__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  &__logo {
    height: 9.5rem;
  }

  &__heading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
