@use "../abstracts/" as *;

.header {
  height: 85vh;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(10, 13, 16, 0.85),
      rgba(19, 24, 28, 0.85)
    ),
    url(../assets/images/hero-small.avif);
  background-size: cover;
  background-position: bottom;
  position: relative;
  color: $color-primary;
  z-index: 10;

  @supports (
    clip-path: polygon(0 0) or
      (
        -webkit-clip-path: polygon(0 0),
      )
  ) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    height: 95vh;
  }

  @media (min-resolution: 192dpi) and (min-width: 48em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 48em),
    (min-width: 125em) {
    background-image:
      linear-gradient(
        to right bottom,
        rgba(10, 13, 16, 0.85),
        rgba(19, 24, 28, 0.85)
      ),
      url(../assets/images/hero.avif);
  }

  @include media(md) {
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
  }

  &__welcome {
    text-align: center;
    margin-top: 2rem;
    padding: 1.5rem 3rem;
    background-color: rgba($color-accent, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 0.5rem;
    border: 1px solid rgba($color-accent, 0.3);
    display: inline-block;
    animation: moveInBottom 1s ease-out 0.75s backwards;
  }

  &__welcome-text {
    font-size: $text-base;
    color: rgba($color-white, 0.9);
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin: 0;
  }

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 4rem;
    z-index: 50;

    @include media(md) {
      top: 2rem;
      right: 2rem;
    }

    @include media(sm) {
      height: 5rem;
      width: 5rem;
      top: 1.5rem;
      right: 0.8rem;
    }

    @include media(xs) {
      height: 5rem;
      width: 4rem;
      top: 0;
      right: 0.4rem;
    }

    @include media(xxs) {
      height: 4rem;
      width: 3rem;
      right: 0.2rem;
    }
  }

  &__logo {
    height: 9.5rem;
    width: auto;

    @include media(md) {
      height: 7.5rem;
    }

    @include media(xs) {
      height: 5.5rem;
    }
  }

  &__heading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 6rem;
    width: 100%;

    @include media(xs) {
      padding: 2rem 1rem;
    }

    @include media(xxs) {
      padding: 1rem 0.5rem;
    }
  }
}
