@use "../abstracts/" as *;

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color-black, 0.55);
    z-index: 1;
  }

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
