@use "../abstracts/" as *;

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: $text-base;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;

    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: $shadow-lg-light;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: $shadow-md-light;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10rem;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.5s;
    animation-fill-mode: backwards;
  }

  &--white {
    background-color: $color-white;
    color: $color-accent-dark;

    &::after {
      background-color: $color-white;
    }

    &:hover::after {
      transform: scaleX(1.15) scaleY(1.4);
      opacity: 0;
    }
  }
}

.btn-link {
  font-size: 1.4rem;
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  color: $color-primary;
  transition: color 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.4s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

// .btn-link {
//   &:link,
//   &:visited {
//     font-size: 1.2rem;
//     color: $color-primary-dark;
//     display: inline-block;
//     text-decoration: none;
//     border-bottom: 1px solid $color-primary;
//     padding: 0.3rem 0.5rem;
//     transition: all 0.2s;
//   }

//   &:hover {
//     background-color: $color-primary;
//     color: $color-white;
//     box-shadow: $shadow-lg;
//     transform: translateY(-2px) scale(1.1);
//   }

//   &:active {
//     box-shadow: $shadow-md;
//     transform: translateY(0) scale(1.05);
//   }
// }
