@use "../abstracts/" as *;

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: $text-base;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;

    transition: all 0.2s;

    @include media(sm) {
      padding: 1rem 2rem;
      font-size: $text-sm;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: $shadow-lg-light;
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: $shadow-md-light;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10rem;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.5s;
    animation-fill-mode: backwards;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover {
      background-color: rgba($color-primary, 0.9);
      box-shadow: $shadow-lg;
    }

    &:active {
      box-shadow: $shadow-md;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-accent-dark;

    &::after {
      background-color: $color-white;
    }

    &:hover::after {
      transform: scaleX(1.15) scaleY(1.4);
      opacity: 0;
    }
  }
}

.btn-link {
  @include btn-link();
}

.btn-link-light {
  @include btn-link($color: $color-white, $font-size: 1.8rem);
}

// TODO delete if not needed
// .btn-link-large {
//   @include btn-link(
//     $color: $color-tertiary,
//     $font-size: 1.8rem,
//     $underline-height: 3px,
//     $hover-color: darken($color-tertiary, 10%)
//   );
// }

// .btn-link-custom {
//   @include btn-link(
//     $color: #ff6b6b,
//     $underline-color: #4ecdc4,
//     $underline-height: 4px
//   );
// }
