@use "../abstracts/" as *;

.composition {
  position: relative;
  margin-left: 4rem;
  margin-top: 0;

  &__photo {
    width: 75%;
    box-shadow: $shadow-lg;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem;

    @include media(lg) {
      float: left;
      position: relative;
      width: 33.333333%;
      box-shadow: $shadow-md;
    }

    &--p1 {
      left: 0rem;
      top: -2rem;

      @include media(lg) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include media(lg) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include media(lg) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    @media (min-width: 1201px) {
      &:hover {
        outline: 1rem solid $color-accent-light;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: $shadow-xl;
        z-index: 20;
      }
    }
  }

  @media (min-width: 1201px) {
    &:hover &__photo:not(:hover) {
      transform: scale(0.95);
    }
  }
  @include media(lg) {
    margin-left: 0;
    margin-top: 5rem;
  }
}
