@use "../abstracts/" as *;

.composition {
  position: relative;
  margin-left: 4rem;
  margin-top: 4rem;

  &__photo {
    width: 85%;
    height: auto;
    box-shadow: $shadow-lg;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    @include media(xxl) {
      width: 33.333333%;
      height: auto;
      float: left;
      position: relative;
      box-shadow: $shadow-md;
    }

    @include media(sm) {
      width: 33.333333%;
      height: auto;
      float: left;
      position: relative;
      box-shadow: $shadow-md;
    }

    &--p1 {
      left: 0rem;
      top: -2rem;

      @include media(xxl) {
        left: -2rem;
        top: 0;
        transform: scale(1.2);
      }

      @include media(sm) {
        left: -2rem;
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: -6rem;
      top: 4rem;

      @include media(xxl) {
        left: -2rem;
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
      }

      @include media(sm) {
        left: -2rem;
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
      }
    }

    &--p3 {
      left: 10%;
      top: 14rem;

      @include media(xxl) {
        top: 0;
        left: -2rem;
        transform: scale(1.1);
      }

      @include media(sm) {
        top: 0;
        left: -2rem;
        transform: scale(1.1);
      }
    }

    &:hover {
      outline: 1rem solid $color-accent-light;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: $shadow-xl;
      z-index: 200;
    }
  }

  @include media(md) {
    margin-top: 2rem;

    &:hover &__photo:not(:hover) {
      transform: scale(0.95);
    }
  }
}
