@use "../abstracts/" as *;

.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem 3rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: $shadow-md-light;
  height: 34rem;
  max-height: 34rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-accent-light,
      $color-accent-dark
    );
    background-clip: text;
    color: transparent;
  }
}
