@use "../abstracts/" as *;

.hero {
  padding: 8rem 6rem 6rem;
  height: 65vh;
  background-image:
    linear-gradient(
      to right bottom,
      rgba(10, 13, 16, 0.75),
      rgba(19, 24, 28, 0.75)
    ),
    // TODO change for small
    url(../assets/images/hero-about.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  color: $color-primary;
  z-index: 10;

  @media (min-resolution: 192dpi) and (min-width: 48em),
    (-webkit-min-device-pixel-ration: 2) and (min-width: 48em),
    (min-width: 125em) {
    background-image:
      linear-gradient(
        to right bottom,
        rgba(10, 13, 16, 0.85),
        rgba(19, 24, 28, 0.85)
      ),
      url(../assets/images/hero-about.jpg);
  }

  @include media(md) {
    padding: 6rem 4rem 4rem;
  }

  @include media(sm) {
    padding: 4rem 2rem 3rem;
  }

  &__text {
    font-size: $text-lg;
    color: $color-white;
    max-width: 80rem;
    margin: 0 auto;
    line-height: 1.6;
    letter-spacing: 0.2rem;

    @include media(md) {
      font-size: $text-base;
    }
  }
}
