@use "../abstracts/" as *;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: rgba($color-black, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  backdrop-filter: blur(10px);

  &__content {
    position: relative;
    width: 75%;
    background-color: $color-white;
    box-shadow: $shadow-md;
    opacity: 0;
    transform: scale(0.25);
    transition: all 0.3s 0.2s;

    @include media(lg) {
      width: 60%;
      height: 90vh;
      overflow-y: auto;
      text-align: center;
    }

    @include media(md) {
      width: 95%;
      text-align: center;
    }

    &--left {
      padding-left: 0;

      @include media(lg) {
        // Hide images on tablet/mobile
        display: none;
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem 5rem;

      @include media(lg) {
        margin: 0 auto;
        padding: 3rem 2rem;
      }

      @include media(sm) {
        padding: 2rem 1.5rem;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;

    @include media(lg) {
      margin: 0 auto;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-error;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      text-decoration: none;
      font-size: $text-lg;
      display: inline-block;
      line-height: 1;
    }

    &:hover {
      color: rgba($color-error, 0.8);
    }
  }
}

// JavaScript-controlled open state
.popup--open {
  opacity: 1;
  visibility: visible;

  .popup__content {
    opacity: 1;
    transform: scale(1);
  }
}
