@use "../abstracts/" as *;

.story {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: $shadow-lg;
  background-color: rgba($color-white, 0.8);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $text-base;
  position: relative;

  @include media(md) {
    width: 100%;
    padding: 5rem;
    padding-left: 8rem;
  }

  @include media(sm) {
    padding-left: 5rem;
  }

  @include media(xs) {
    width: 90%;
    padding: 4rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: $color-primary-light;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    position: relative;
    transform: translateX(-3rem);

    @include media(xs) {
      float: none;
      shape-outside: none;
      -webkit-shape-outsie: none;
      transform: none;
      margin-bottom: 2rem;
      width: 18rem;
      height: 18rem;
      flex-shrink: 0;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-1rem) scale(1.2);
    backface-visibility: hidden;
    transition: all 0.5s;

    @include media(xs) {
      transform: none;
    }
  }

  &:hover &__image {
    transform: translateY(-1rem) scale(1);
    filter: blur(3px) brightness(80%);

    @include media(xs) {
      transform: scale(1);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, 20%);
    transition: all 0.5s;
    backface-visibility: hidden;

    @include media(xs) {
      font-size: 1.9rem;
    }
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &__highlight {
    display: block;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.2;
    color: $color-primary;
    margin-bottom: 1.5rem;

    @include media(xs) {
      font-size: 2.6rem;
    }

    @include media(xxs) {
      font-size: 2.2rem;
    }
  }
}
