@use "../abstracts/" as *;

.story {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: $shadow-lg;
  background-color: rgba($color-white, 0.8);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $text-base;

  @include media(md) {
    width: 100%;
  }

  @include media(sm) {
    padding-left: 5rem;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: $color-primary-light;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;

    transform: translateX(-3rem);
  }

  &__image {
    width: 100%;
    transform: translateY(-1rem) scale(1.2);
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &:hover &__image {
    transform: translateY(-1rem) scale(1);
    filter: blur(3px) brightness(80%);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;

    opacity: 0;
    transform: translate(-50%, 20%);
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
