@use "../abstracts/" as *;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-primary;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 5.5rem;
    font-weight: 400;
    letter-spacing: 2.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include media(sm) {
      letter-spacing: 1.2rem;
      font-size: 5rem;
    }

    @include media(xs) {
      font-size: 4.5rem;
      letter-spacing: 0.8rem;
      overflow-wrap: break-word;
    }

    @include media(xxs) {
      font-size: 2.8rem;
      letter-spacing: 0.3rem;
      overflow-wrap: break-word;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include media(sm) {
      letter-spacing: 0.5rem;
    }

    @include media(xs) {
      font-size: 1.5rem;
      overflow-wrap: break-word;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;

  @include media(md) {
    font-size: 3rem;
  }

  @include media(sm) {
    font-size: 2.5rem;
  }

  @include media(xs) {
    font-size: 2rem;
  }
}

.heading-secondary--accent {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-accent-light,
    $color-accent-dark
  );
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;

  @include media(md) {
    font-size: 3rem;
  }

  @include media(sm) {
    font-size: 2.5rem;
  }

  @include media(xs) {
    font-size: 2rem;
  }
}

.heading-tertiary {
  &--primary {
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: $text-base;
    color: $color-primary;
  }

  &--accent {
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: $text-base;
    color: $color-accent;
  }

  &--white {
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: $text-base;
    color: $color-white;
  }

  &--black {
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: $text-base;
    color: $color-black;
  }
}

.paragraph {
  font-size: $text-base;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
