@use "../abstracts/" as *;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-primary;
  padding: 2rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5.5rem;
    font-weight: 400;
    letter-spacing: 2.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.4rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-accent-light,
    $color-accent-dark
  );
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
}

.heading-tertiary {
  font-size: $text-base;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $text-base;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
