.text {
  &-center {
    text-align: center;
  }
}

.mb-xs {
  margin-bottom: 0.25rem;
}

.mb-sm {
  margin-bottom: 0.5rem;
}

.mb-md {
  margin-bottom: 1rem;
}

.mb-lg {
  margin-bottom: 2rem;
}

.mb-xl {
  margin-bottom: 4rem;
}

.mb-2xl {
  margin-bottom: 6rem;
}

.mb-3xl {
  margin-bottom: 8rem;
}

.mb-3xl {
  margin-bottom: 10rem;
}

.mt-xs {
  margin-top: 0.25rem;
}

.mt-sm {
  margin-top: 0.5rem;
}

.mt-md {
  margin-top: 1rem;
}

.mt-lg {
  margin-top: 2rem;
}

.mt-xl {
  margin-top: 4rem;
}

.mt-2xl {
  margin-top: 6rem;
}

.mt-3xl {
  margin-top: 8rem;
}

.mt-4xl {
  margin-top: 10rem;
}

// Generate margin utilities
// @for $i from 0 through 20 {
//   .m-#{$i} {
//     margin: #{$i}rem;
//   }
//   .mt-#{$i} {
//     margin-top: #{$i}rem;
//   }
//   .mr-#{$i} {
//     margin-right: #{$i}rem;
//   }
//   .mb-#{$i} {
//     margin-bottom: #{$i}rem;
//   }
//   .ml-#{$i} {
//     margin-left: #{$i}rem;
//   }
//   .mx-#{$i} {
//     margin-left: #{$i}rem;
//     margin-right: #{$i}rem;
//   }
//   .my-#{$i} {
//     margin-top: #{$i}rem;
//     margin-bottom: #{$i}rem;
//   }
// }

// Generate padding utilities
@for $i from 0 through 20 {
  .p-#{$i} {
    margin: #{$i}rem;
  }
  .pt-#{$i} {
    margin-top: #{$i}rem;
  }
  .pr-#{$i} {
    margin-right: #{$i}rem;
  }
  .pb-#{$i} {
    margin-bottom: #{$i}rem;
  }
  .pl-#{$i} {
    margin-left: #{$i}rem;
  }
  .px-#{$i} {
    margin-left: #{$i}rem;
    margin-right: #{$i}rem;
  }
  .py-#{$i} {
    margin-top: #{$i}rem;
    margin-bottom: #{$i}rem;
  }
}
