@use "../abstracts/" as *;

.auth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-image:
    linear-gradient(
      105deg,
      rgba($color-black, 0.9) 0%,
      rgba($color-black, 0.75) 50%,
      transparent 50%
    ),
    url(../assets/images/kb-book-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;

  @include media(xl) {
    background-image:
      linear-gradient(
        105deg,
        rgba($color-black, 0.9) 0%,
        rgba($color-black, 0.75) 65%,
        transparent 65%
      ),
      url(../assets/images/kb-book-1.jpg);
  }

  @include media(lg) {
    width: 100%;
    background-image:
      linear-gradient(
        to right,
        rgba($color-black, 0.9) 0%,
        rgba($color-black, 0.9) 100%
      ),
      url(../assets/images/kb-book-1.jpg);
  }

  @include media(md) {
    padding: 10rem 2rem;
  }

  @include media(sm) {
    padding: 8rem 1.5rem;
  }
}

// Auth-specific form container
.form--auth,
.form--contact {
  width: 50%;
  padding: 4rem 6rem;

  @include media(xxl) {
    width: 45%;
  }

  @include media(xl) {
    width: 55%;
  }

  @include media(lg) {
    margin: 0 auto;
    width: 75%;
  }

  @include media(md) {
    width: 85%;
    margin: 0 auto;
  }

  @include media(sm) {
    width: 100%;
    padding: 4rem 8rem;
  }

  @include media(xs) {
    padding: 2.5rem;
  }
}

.remember-me-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;

  @include media(sm) {
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
  }
}

.auth-link {
  font-size: $text-base;
  color: $color-text-light;
  opacity: 0.8;
  transition: all 0.2s;

  &:hover {
    opacity: 1;
    color: $color-accent;
  }
}

.submit-button-box {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}

.submit-button {
  margin-left: auto;

  @include media(xxs) {
    width: 100%;
  }
}
