@use "../abstracts/" as *;

.courses-page {
  min-height: 100vh;
  padding-top: 8rem;

  @include media(md) {
    padding-top: 6rem;
  }

  .hero-courses {
    @include hero-background("courses");

    &__text {
      @include hero-text;
    }
  }

  &__input {
    color: $color-gray-700;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: $color-white;
    border: 1px solid rgba($color-black, 0.1);
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    scale: 1;
    transition: all 0.3s;

    &:focus {
      scale: 1.05;
      outline: none;
      box-shadow: $shadow-lg-light;
      border-bottom: 0.45rem solid $color-info;
    }

    &:focus:invalid {
      border-bottom: 0.45rem solid $color-error;
    }

    &:focus:valid {
      border-bottom: 0.45rem solid $color-success;
    }

    &::placeholder {
      color: $color-gray-300;
    }

    &::-webkit-input-placeholder {
      color: $color-gray-300;
    }

    &::-moz-placeholder {
      color: $color-gray-300;
    }

    &:-ms-input-placeholder {
      color: $color-gray-300;
    }
  }

  &__section-courses {
    @include section-base($padding-x: 5rem);

    height: 100%;

    @include media(md) {
      @include section-base($padding-y: 15rem);
    }

    @include media(sm) {
      @include section-base($padding-y: 10rem, $padding-x: 10rem);
    }

    @include media(xs) {
      @include section-base($padding-y: 10rem, $padding-x: 5rem);
    }
  }

  &__card {
    width: 95%;
    min-height: 60rem;
    background-color: $color-white;
    box-shadow: $shadow-md;
    margin: 0 auto 8rem auto;
    border-radius: 1.5rem;
    overflow: visible;

    @include media(lg) {
      width: 98%;
      min-height: 65rem;
    }

    &--left {
      padding: 0;

      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-blend-mode: screen;

      min-height: 60rem;
      border-radius: 1.5rem 0 0 1.5rem;

      @include media(lg) {
        min-height: 65rem;
      }

      &--sfg-1 {
        background-image:
          linear-gradient(
            to right bottom,
            $color-primary-light,
            $color-primary-dark
          ),
          url("../assets/images/sfg.jpg");
      }

      &--sfg-2 {
        background-image:
          linear-gradient(
            to right bottom,
            $color-accent-light,
            $color-accent-dark
          ),
          url("../assets/images/sfg.jpg");
      }

      &--rkc {
        background-image:
          linear-gradient(
            to right bottom,
            rgba($color-error, 0.5),
            rgba($color-error, 0.9)
          ),
          url("../assets/images/sfg.jpg");
      }

      &--senior {
        background-image:
          linear-gradient(
            to right bottom,
            rgba($color-info, 0.5),
            rgba($color-info, 0.9)
          ),
          url("../assets/images/seniors.jpg");
      }

      &--women {
        background-image:
          linear-gradient(
            to right bottom,
            rgba($color-success, 0.5),
            rgba($color-success, 0.9)
          ),
          url("../assets/images/kb-w-4.jpg");
      }

      &--warrior {
        background-image:
          linear-gradient(
            to right bottom,
            rgba($color-warning, 0.5),
            rgba($color-warning, 0.9)
          ),
          url("../assets/images/ma.jpg");
      }
    }

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      padding: 2rem 4rem;
      border-radius: 0 1.5rem 1.5rem 0;
      overflow: hidden;
    }

    &__details ul {
      list-style: none;
      margin: 0 auto;
    }

    &__details ul li {
      font-size: 1.2rem;
      padding: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }

    &__details ul li:not(:last-child) {
      border-bottom: 1px solid rgba(224, 224, 224, 0.55);
    }

    &__footer {
      display: flex;
      align-self: flex-end;
      padding-top: 4rem;
      margin-top: 2rem;

      @include media(sm) {
        align-self: center;
      }
    }
  }

  &__description {
    border: 1px solid rgba($color-black, 0.1);
    padding: 2rem;
    max-height: 37rem;
    overflow-y: auto;
    margin: 0 auto;

    &__text {
      padding: 0.5rem;
    }

    &__link {
      font-size: inherit;
      color: $color-accent-light;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 6rem;
  height: 6rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
}

.carousel-control-prev {
  left: -5rem;
}

.carousel-control-next {
  right: -5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $color-primary-dark;
  border-radius: 50%;
  border: 0.4rem solid $color-primary-dark;
  z-index: 499;
}

.carousel-indicators [data-bs-target] {
  background-color: $color-primary;
}
