@use "../abstracts/" as *;

.contact {
  background-image:
    linear-gradient(
      105deg,
      rgba($color-black, 0.9) 0%,
      rgba($color-black, 0.75) 50%,
      transparent 50%
    ),
    url(../../assets/images/kb-book-1.jpg);

  background-size: 130%;
  border-radius: 0.3rem;
  box-shadow: $shadow-md;
  height: auto;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}

.section-about {
  @include section-base;
  background-color: $color-gray-100;

  @include media(md) {
    @include section-base($padding-x: 10rem);
  }

  @include media(sm) {
    @include section-base($padding-y: 12rem, $padding-x: 5rem);
  }
}

.section-contact {
  @include section-base($margin-top: 0);
  background-color: $color-gray-100;

  @include media(sm) {
    @include section-base($padding-x: 15rem);
  }

  @include media(xs) {
    @include section-base($padding-x: 5rem);
  }
}

.section-courses {
  @include section-base($padding-x: 5rem);
  background-color: $color-gray-100;

  @include media(sm) {
    @include section-base($padding-y: 15rem, $padding-x: 10rem);
  }
}

.section-features {
  @include section-base($padding-x: 5rem);
  background-image:
    linear-gradient(
      to right bottom,
      rgba(10, 13, 16, 0.85),
      rgba(19, 24, 28, 0.85)
    ),
    url(../../assets/images/kb-back-2.jpg);
  background-size: cover;
  background-position: center;

  transform: skewY(-3deg);

  & > * {
    transform: skewY(3deg);
  }

  @include media(sm) {
    @include section-base($padding-y: 5rem, $padding-x: 10rem);
  }

  @include media(xs) {
    @include section-base($padding-y: 5rem, $padding-x: 5rem);
  }
}

.section-stories {
  @include section-base($margin-top: 0);
  position: relative;

  @include media(md) {
    @include section-base($padding-y: 10, $padding-x: 5rem);
  }
}

.swing-element {
  display: inline-block;
  transform-origin: top center;
}

.swing-element.animate {
  animation: swing 3s ease-in-out forwards;
}
