@use "../abstracts/" as *;

.contact {
  background-image:
    linear-gradient(
      105deg,
      rgba($color-black, 0.9) 0%,
      rgba($color-black, 0.75) 50%,
      transparent 50%
    ),
    url(../../assets/images/kb-book-1.jpg);

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: 0.3rem;
  box-shadow: $shadow-md;

  @include media(xl) {
    background-image:
      linear-gradient(
        105deg,
        rgba($color-black, 0.9) 0%,
        rgba($color-black, 0.75) 65%,
        transparent 65%
      ),
      url(../../assets/images/kb-book-1.jpg);
    background-size: cover;
    background-position: center right;
  }

  @include media(lg) {
    background-image:
      linear-gradient(
        to right,
        rgba($color-black, 0.9) 0%,
        rgba($color-black, 0.75) 100%
      ),
      url(../../assets/images/kb-book-1.jpg);
    background-size: cover;
    background-position: center right;
  }

  &__form {
    width: 50%;
    padding: 4rem 6rem;

    @include media(xl) {
      width: 65%;
    }

    @include media(lg) {
      width: 100%;
    }
  }
}

.section-about {
  @include section-base;
  position: relative;
  background-color: $color-gray-100;

  @include media(md) {
    @include section-base($padding-x: 10rem);
  }

  @include media(sm) {
    @include section-base($padding-x: 5rem);
  }
}

.section-about__link {
  position: absolute;
  bottom: 14rem;
}

.swing-element > object {
  @include media(sm) {
    height: 2rem;
    width: 2rem;
  }
}

.section-contact {
  @include section-base($margin-top: 0);
  background-color: $color-gray-100;

  @include media(md) {
    @include section-base($padding-x: 10rem);
  }

  @include media(sm) {
    @include section-base($padding-x: 5rem);
  }

  @include media(xs) {
    @include section-base($padding-x: 2rem);
  }
}

.section-courses {
  @include section-base($padding-x: 5rem);
  background-color: $color-gray-100;

  @include media(md) {
    @include section-base($padding-y: 15rem);
  }

  @include media(sm) {
    @include section-base($padding-y: 15rem, $padding-x: 10rem);
  }

  @include media(xs) {
    @include section-base($padding-x: 5rem);
  }
}

.section-features {
  @include section-base($padding-x: 5rem);
  background-image:
    linear-gradient(
      to right bottom,
      rgba(10, 13, 16, 0.85),
      rgba(19, 24, 28, 0.85)
    ),
    url(../../assets/images/kb-back-2.jpg);
  background-size: cover;
  background-position: center;

  transform: skewY(-5deg);

  & > * {
    transform: skewY(5deg);
  }

  @include media(sm) {
    @include section-base(
      $padding-y: 10rem,
      $padding-x: 10rem,
      $margin-top: -5vh
    );
  }

  @include media(xs) {
    @include section-base($padding-y: 8rem, $padding-x: 5rem);
  }
}

.section-stories {
  @include section-base($margin-top: 0);
  position: relative;

  @include media(md) {
    @include section-base($padding-y: 15rem, $padding-x: 10rem);
  }

  @include media(sm) {
    @include section-base($padding-x: 5rem);
  }
}

.swing-element {
  display: inline-block;
  transform-origin: top center;
}

.swing-element.animate {
  animation: swing 3s ease-in-out forwards;
}
