@use "../abstracts/" as *;

.form {
  padding: 6rem 2rem 2rem 2rem;

  &__input {
    color: $color-gray-700;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: $color-white;
    border: none;
    border-bottom: 0.45rem solid transparent;
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    scale: 1;
    transition: all 0.3s;

    &:focus {
      scale: 1.05;
      outline: none;
      box-shadow: $shadow-lg-light;
      border-bottom: 0.45rem solid $color-info;
    }

    &:focus:invalid {
      border-bottom: 0.45rem solid $color-error;
    }

    &:focus:valid {
      border-bottom: 0.45rem solid $color-success;
    }

    &::-webkit-input-placeholder {
      color: $color-gray-300;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__label {
    color: $color-gray-200;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 0.4rem;
    display: block;
    transition: all 0.3s;
  }

  &__radio-group,
  &__checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;

    @include media(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__radio-group__item,
  &__checkbox-group__item {
    display: flex;
    justify-items: center;
    gap: 0.5rem;
    color: $color-gray-200;
  }

  &__radio-input,
  &__checkbox-input {
    display: none;
  }

  &__radio-label,
  &__checkbox-label {
    font-size: $text-base;
    cursor: pointer;
    padding-left: 4rem;
    position: relative;
  }

  &__radio-button,
  &__checkbox-button {
    height: 3rem;
    width: 3rem;
    border: 0.5rem solid $color-accent-light;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    top: -0.35rem;

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-accent;
      opacity: 0;
      transition: opacity 0.1s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after,
  &__checkbox-input:checked ~ &__checkbox-label &__checkbox-button::after {
    opacity: 1;
  }

  .remember-me-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
  }

  .no-account-link {
    font-size: $text-base;
    opacity: 0.8;
    cursor: pointer;
  }

  .login-button-box {
    width: 100%;
    display: flex;
    margin-top: 4rem;
  }

  #login-button {
    margin-left: auto;
  }
}
